@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
// variables
$d-gray:#3b3b3b;
$gray:#969696;
$l-gray:rgba(219,
219,
219,
42%);
$d-blue: #033bb4;
$blue: #0055b6;
$l-blue: #0081d6;
$black: #000;
$white: #ffffff;
$blank :hsla(0,
0%,
100%,
0);
// REWRITING BOOTSTRAP VARS
// $primary: #333;
$theme-colors:( "d-gray": $d-gray,
"gray": $gray,
"l-gray": $l-gray,
"d-blue": $d-blue,
"blue": $blue,
"l-blue": $l-blue,
"black": $black,
"white": $white,
"blank": $blank);
$sm: 576px;
$md:768px;
$lg:992px;
$xl:1200px;
//mixins
@mixin respond-to($breakpoint) {
    @if $breakpoint=="sm" {
        @media(min-width: $sm) {
            @content;
        }
    }
    @else if $breakpoint=="md" {
        @media(min-width: $md) {
            @content;
        }
    }
    @else if $breakpoint=="lg" {
        @media(min-width: $lg) {
            @content;
        }
    }
    @else if $breakpoint=="xl" {
        @media(min-width: $xl) {
            @content;
        }
    }
}

.navbar-badge {
    font-size: .6rem;
    font-weight: 300;
    padding: 2px 4px;
    position: absolute;
    right: 8px;
    top: 7px;
}

// 
@import"../bootstrap/scss/bootstrap.scss";
a {
    color: $dark;
    text-decoration: none;
    font-weight: normal;
}

a:hover {
    @extend a;
    font-weight: 500;
    transition: 0.5s font-weight;
}

* {
    color: $d-gray;
    font-family: 'Roboto', sans-serif;
}

body,
html {
    height: 100%;
    width: 100%;
}

.g-signin2 {
    width: 180px;
    height: 36px;
    background-color: $gray;
}

.hr-long {
    width: 95%;
    margin: 10px auto;
    height: 2px;
}

.chat-info>* {
    font-weight: bold;
    color: rgba(80, 80, 80, 0.41);
    font-weight: 0.8rem;
}

.chat-info {
    margin-bottom: 2px;
    margin-left: 60px;
    margin-right: 16px;
}

.chat-info.my {
    @extend .chat-info;
    margin-left: 16px;
    margin-right: 60px;
}

.chat-msg {
    background-color: $gray;
    color: $light;
    padding: 5px;
    border-radius: 0 12px 12px 12px;
}

.chat-msg.my {
    @extend .chat-msg;
    background-color: $l-blue;
    border-radius: 12px 0 12px 12px;
}

.chat-img>img {
    padding: 0px;
    height: 42px;
    width: 42px;
    margin: 0 5px;
    border-radius: 50%;
}

.direct-chat-msg {
    // max-height: 400px;
    overflow-y: auto;
}

.msg {
    margin-bottom: 11px;
}

.chat-msg-wrap {
    display: inline-flex;
}

// .direct-chat-msg-content {
// }